aiohttp==3.7.4
aiohttp-jinja2==0.15.0
appdaemon==4.0.3
appdaemontestframework==3.0.5
astral==1.10.1
async-timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
daemonize==2.5.0
deepdiff==4.3.2
feedparser==5.2.1
freezegun==0.3.15
idna==2.9
idna-ssl==1.1.0
importlib-metadata==1.6.0
iso8601==0.1.12
Jinja2==2.11.3
MarkupSafe==1.1.1
mock==3.0.5
more-itertools==8.2.0
multidict==4.7.5
ordered-set==4.0.1
packaging==20.3
paho-mqtt==1.5.0
pid==3.0.3
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==5.4.1
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2020.1
PyYAML==5.4
requests==2.23.0
six==1.14.0
typing-extensions==3.7.4.2
urllib3==1.26.5
voluptuous==0.11.7
wcwidth==0.1.9
websocket-client==0.57.0
yarl==1.1.0
zipp==3.1.0
